fastapi
uvicorn[standard]

openai
python-dotenv

langchain
langchain-core
langchain-openai
langchain-qdrant
langchain-text-splitters

qdrant-client

ragas
datasets
pandas

PyMuPDF
pillow
pytesseract

camel-tools

python-multipart